[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "==9.3.0"
postgres = "*"
djangorestframework = "*"
css = "*"
docs = "*"
howto = "*"
static = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.4"
